<div class="nav-items">
  <div class="nav-item">
    <fa-icon [icon]="faExclamationCircle"></fa-icon>
    <span>Dashboard</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faSearchLocation"></fa-icon>
    <span>Location</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faShoppingBag"></fa-icon>
    <span>Shops</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faBolt"></fa-icon>
    <span>Products</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faAddressBook"></fa-icon>
    <span>Contact</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faHands"></fa-icon>
    <span>Help</span>
  </div>
</div>
