<div class="container">
  <div class="header">
    <app-header>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic sapiente natus laborum dolores pariatur asperiores modi odit corrupti voluptates repudiandae consequatur rem sint quaerat rerum velit quae, necessitatibus architecto recusandae?
    </app-header>
  </div>
  <div class="main-container">
    <div class="side-nav">
      <app-side-nav></app-side-nav>
    </div>
    <div class="main">
      <app-main></app-main>
    </div>
  </div>
</div>
