<div class="widget-container">
  <div *ngFor="let alert of alerts" class="widget" [ngClass]="getColorClass(alert.severity)">
    <div class="widget-header">
      <!-- <div class="icon">
        <fa-icon [icon]="faSearchLocation"></fa-icon>
      </div> -->
      <div class="widget-name">{{ alert.name }}</div>
    </div>
    <div class="alert-data">
      <div class="severity">Severity: {{ alert.severity }}</div>
      <div class="description">
        {{ alert.description }}
      </div>
      <div class="date-source">
        <div class="date">{{ alert.date * 1000 | date }}</div>
        <div class="source">{{ alert.source }}</div>
      </div>
      <div class="id">ID: {{ alert.id }}</div>
    </div>
  </div>

  <!-- <div class="widget yellow">
    <div class="icon">
      <fa-icon [icon]="faShoppingBag"></fa-icon>
    </div>
    <div class="value">
      <div class="top">295</div>
      <div class="bottom">Shops</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <fa-icon [icon]="faBolt"></fa-icon>
    </div>
    <div class="value">
      <div class="top">45784</div>
      <div class="bottom">Products Sold</div>
    </div>
  </div>
  <div class="widget blue">
    <div class="icon">
      <fa-icon [icon]="faMoneyBill"></fa-icon>
    </div>
    <div class="value">
      <div class="top">346928</div>
      <div class="bottom">Total Revenue</div>
    </div>
  </div>
  <div class="widget green">
    <div class="widget-header">
      <div class="icon">
        <fa-icon [icon]="faSearchLocation"></fa-icon>
      </div>
      <div class="widget-name">Alert Super 1</div>
    </div>
    <div class="alert-data">
      <div class="severity">Severity: 10</div>
      <div class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque dolorem
        delectus odio? Numquam accusamus ipsam vero perferendis quo tempore,
        explicabo doloremque iusto odio officia distinctio dolor aliquid,
        laborum architecto eius. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Atque dolorem delectus odio? Numquam accusamus ipsam
        vero perferendis quo tempore, explicabo doloremque iusto odio officia
        distinctio dolor aliquid, laborum architecto eius.
      </div>
      <div class="date-source">
        <div class="date">12/01/2023</div>
        <div class="source">www.cabana.com</div>
      </div>
      <div class="id">ID: 56465465454</div>
    </div>
  </div>
  <div class="widget green">
    <div class="widget-header">
      <div class="icon">
        <fa-icon [icon]="faSearchLocation"></fa-icon>
      </div>
      <div class="widget-name">Alert Super 1</div>
    </div>
    <div class="alert-data">
      <div class="severity">Severity: 10</div>
      <div class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque dolorem
        delectus odio? Numquam accusamus ipsam vero perferendis quo tempore,
        explicabo doloremque iusto odio officia distinctio dolor aliquid,
        laborum architecto eius. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Atque dolorem delectus odio? Numquam accusamus ipsam
        vero perferendis quo tempore, explicabo doloremque iusto odio officia
        distinctio dolor aliquid, laborum architecto eius.
      </div>
      <div class="date-source">
        <div class="date">12/01/2023</div>
        <div class="source">www.cabana.com</div>
      </div>
      <div class="id">ID: 56465465454</div>
    </div>
  </div> -->
</div>
